<div class="depot-form">
  <% form_tag do %>
  <fieldset>
    <legend><%= I18n.t 'admin.login.legend' %></legend>

    <div>
      <label for="name"><%= I18n.t 'admin.login.name' %>:</label>
      <%= text_field_tag :name, params[:name] %>
    </div>

    <div>
      <label for="password"><%= I18n.t 'admin.login.password' %>:</label>
      <%= password_field_tag :password, params[:password] %>
    </div>

    <div>
      <%= submit_tag I18n.t 'admin.login.login' %>
    </div>
  </fieldset>
  <% end %>
</div>