<h1><%= I18n.t 'faq.title' %></h1>

<p>
  <span class="faq-question"><%= I18n.t 'faq.q1' %></span>
  <br />
  <%= I18n.t 'faq.a1' %>
</p>
<p>
  <span class="faq-question"><%= I18n.t 'faq.q2' %></span>
  <br />
  <%= I18n.t 'faq.a2' %>
</p>
<p>
  <span class="faq-question"><%= I18n.t 'faq.q3' %></span>
  <br />
  <%= I18n.t 'faq.a3' %>
</p>
